{% extends 'base.html.twig' %}

{% block title %}Edit Terrains{% endblock %}

{% block body %}
    <h1>Edit Terrains</h1>

    {{ include('terrains/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_terrains_index') }}">back to list</a>

    {{ include('terrains/_delete_form.html.twig') }}
{% endblock %}
