<div class="modal fade" id="tournois" tabindex="-1" aria-labelledby="tournoisLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="tournoisLabel">Création de Tournois</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/tournoi/create">
                <div class="mb-3">
                    <label for="tournoisControlInput1" class="form-label">Nom</label>
                    <input type="name" class="form-control" id="tournoisControlInput1" name="nom" placeholder="Nom du tournoi">
                </div>
                <div class="mb-3">
                    <label for="sportInput" class="form-label">Sport</label>
                    <input type="text" class="form-control" id="sportInput" name="sport" placeholder="Ex: Tennis">
                </div>
                <div class="mb-3">
                    <label for="formatInput" class="form-label">Format</label>
                    <input type="text" class="form-control" id="formatInput" name="format" placeholder="Ex: Simple">
                </div>
                <div class="mb-3">
                    <label for="dateDebut" class="form-label">Date de début</label>
                    <input type="date" class="form-control" id="dateDebut" name="date_debut">
                </div>
                <div class="mb-3">
                    <label for="dateFin" class="form-label">Date de fin</label>
                    <input type="date" class="form-control" id="dateFin" name="date_fin">
                </div>
                <div class="mb-3">
                    <label for="tournoisControlTextarea1" class="form-label">Description</label>
                    <textarea class="form-control" id="tournoisControlTextarea1" name="description" rows="3"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Créer le tournoi</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>