{% block body %}


    <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="fixed-bottom">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © {{ "now"|date("Y") }} Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">GameSet.com</a>
            </div>
            <div class="reseaux-sociaux text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
                <a href="#"><i class="bi bi-github"></i></a>
            </div>
        </div>
    </footer>


{% endblock %}